.container {
    width: 1400px;
}

a {
    cursor: pointer;
}


@media (min-width: 1200px) {
    .container {
        width: 1400px;
    }
}

.phylogram-container {
    height: 600px;
    overflow-y: auto;
}

.btn-render {
    margin-top: 25px;
}

.fa-left {
    margin-right: 10px;
}

.cluster-container {
    max-height: 250px;
    overflow-y: auto;
}

.phylogram {
    width: 100%;
}